@import "tailwindcss";

@utility container{
  margin: 0 auto;
}

@theme{
  --color-primaryColor : #;
  --color-secondColor : #;
  --color-baseColor : #;
  --color-BrandColor : #;
  --font-headerFont: ;
  --font-regularFont: ;
}